.image-holder
{
    background-color: rgb(107, 44, 167);
    padding: 40px;
    position: relative;
}
.profile-image
{
    height: 260px;
    width: 260px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
}
.close-button
{
    position: absolute;
    right: 50px;
    top: 30px;
    color: white;
}
div>label
{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 8px;
}
