body {
  margin: 0;
  padding: 0;
  font-family:'Century Gothic','Futura',san-serif;
}
.container
{
  max-width: 1000px;
  margin: 0 auto;
}
ul
{
  list-style: none;
}
.thumbnail-profile
{
  align-items: center;
  border: 0.5px #b2c2d6 solid;
  border-radius: 10px;
  margin-bottom: 0.89rem;
  padding: 10px;
}
.thumbnail-profile:hover
{
  background-color: #b2c2d6;
  border: 1px #729ed4 solid;
}
.thumbnail-icon
{
  margin: 0 20px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}
.name-placeholder
{
  display: inline-block;
}
@media screen and (max-width: 360px) {
  .container {
    min-width: 340px;
    margin: 0 auto;
  }
}


